<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BauDevelopSmtpServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BauDevelopSmtpServer.Properties.Settings>
            <setting name="PathBase" serializeAs="String">
                <value>C:\Users\jbautistam\Proyectos\Development\Net\Libraries\Communications\EMail\LibSmtpServer\TestSmtpServer\bin\Debug\Data\</value>
            </setting>
            <setting name="Ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>25</value>
            </setting>
        </BauDevelopSmtpServer.Properties.Settings>
    </userSettings>
</configuration>